<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.name %></p>
<p><%= @post.body %></p>

<%= link_to "delete", post_path(@post.id), method: :delete, data: {confirm: "are you sure"} %>